:root { 
  --alto: #d9d9d9;
  --black: #000000;
  --resolution-blue: #003580;
  --selective-yellow: #fcbb04;
  --white: #ffffff;
 
  --font-size-m: 16px;
  --font-size-m2: 20px;
  --font-size-s: 15px;
  --font-size-xl: 24px;
  --font-size-xs: 12px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 48px;
 
  --font-family-roboto: "Roboto", Helvetica;
  --font-family-zeyada: "Zeyada", Helvetica;
}
.roboto-light-black-16px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.roboto-medium-black-20px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-black-24px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.roboto-bold-black-36px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-semi-bold-resolution-blue-15px {
  color: var(--resolution-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.roboto-light-black-12px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
}

.roboto-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}
