:root { 
  --alto-2: #d9d9d947;
  --black: #000000;
  --lochmara: #0071c2;
  --resolution-blue: #003580;
  --romance: #fdfdfd;
  --selective-yellow: #fcbb04;
  --white: #ffffff;
  --white-2: #ffffff66;
 
  --font-size-l: 20px;
  --font-size-m2: 16px;
  --font-size-xl: 24px;
  --font-size-xs2: 14px;
  --font-size-xxl: 32px;
 
  --font-family-roboto: "Roboto", Helvetica;
  --font-family-zeyada: "Zeyada", Helvetica;
}
.roboto-medium-black-14px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 500;
}

.roboto-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-selective-yellow-32px {
  color: var(--selective-yellow);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-romance-32px {
  color: var(--romance);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-white-32px {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-lochmara-32px {
  color: var(--lochmara);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.zeyada-normal-selective-yellow-32px {
  color: var(--selective-yellow);
  font-family: var(--font-family-zeyada);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-resolution-blue-16px {
  color: var(--resolution-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-black-24px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.roboto-semi-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 600;
}

.roboto-normal-white-20px-2 {
  color: var(--white-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
